@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap');
    
              
           
 a {color: #4c4e4d;
    font-family: 'Work Sans', sans-serif;}
           
 p {font-family: 'Source Sans Pro', sans-serif;
    color: #4c4e4d; 
    font-size:18px;}

 h2 {font-family: 'Source Sans Pro', sans-serif;
    color: #4c4e4d;}
       
       
.page-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color:#4c4e4d;
    font-size:45px;}
    
.page-summary {
    font-family: 'Source Sans Pro', sans-serif;
    color:#4c4e4d;
    font-size:23px;}
    
.page-para {
    font-family: 'Source Sans Pro', sans-serif;
    color:#4c4e4d;
    font-size:18px;}
    
.page-title2 {
    font-family: 'Work Sans', sans-serif;
    color:#4c4e4d;
    font-size:26px;}

.mini-bio {
    font-family: 'Playfair Display', serif;
    color:#4c4e4d;
    font-size:22px;}

.mini-bio-cred {font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    color: #4c4e4d; 
    font-size:16px;}

.image {
    text-align: left;

        }
